# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
env/
venv/
ENV/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore temporary or log files
*.log
*.tmp
*.swp
*.swo

# Ignore editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore build directories and dependencies
build/
dist/
*.egg-info/

# Allow Python coding files
!*.py
